.sectionLogin {
  padding: 16px;
}

.sectionLoginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sectionLoginContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  /* identical to box height, or 109% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;

  color: #262724;
  margin-top: 35px;
  margin-bottom: 24px;
}

.sectionLoginContainerRecoveyLink {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  justify-content: end;
  width: 100%;
  color: #4e4f4c;
  margin-bottom: 18px;
}

.sectionLoginContainerHelperText {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.02em;

  color: rgba(10, 10, 10, 0.7);
  margin: 41px 0;

  /* Inside auto layout */
}

.sectionLoginContainerHelperText span {
  background: #f0f0f0;
  padding: 0 10px;
}

.inputMargin {
  margin: 5px !important;
}