.buttonClaim {
    position: fixed;
    bottom: 60px;
    left: 60px;
}

.buttonAddClaim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-bg-primary);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-direction: column;
    font-family: var(--font-secundary);
    font-size: 16px;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}