.sectionRegister {
  padding: 16px;
}

.sectionRegisterContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sectionRegisterContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 50px;
  /* identical to box height, or 109% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;

  color: #262724;
}
.sectionRegisterContainerDescription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #262724;
  margin-bottom: 26px;
}
