.loginButtonContainer {
  display: flex;
  width: 100%;
  gap: 8px;
}

.loginButton {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 11.5px;
  border-radius: 4px;
  align-items: center;
  gap: 8px;

  background-color: white;

  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.54);

  border: none;

}

.loginButtonIcon {
  width: 18px;
}