.sectionLoginChoice {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

.sectionLoginChoice a.primaryButton {
  padding: 17px;
}

.sectionLoginChoiceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  flex-direction: column;
}

.sectionLoginChoiceContainerDescription {
  margin: 0px;
  padding-right: 0px;
  font-weight: 400px;
  font-size: 2rem;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #262724;
}

.sectionLoginChoiceContainerButtons {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

.sectionLoginChoiceContainerTerms {
  position: absolute;
  bottom: 0;
  left: 10;
  margin-bottom: 10px;
}

.sectionLoginChoiceContainerTerms-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #262724;
}

.sectionLoginChoiceContainerTerms-text-link {
  color: #5c0000;
}

/** INTRO **/

.intro {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #8f0000;
}

.intro.disapper {
  opacity: 0;
  transition: all 1s;
}

.intro.displayIntro {
  display: none;
}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: auto;
}

.logoContainer {
  display: flex;
  flex-direction: row;
}

.logoR {
  opacity: 0;
  padding: 0;
  margin: 0 !important;
  z-index: 2;
  scale: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  transition: ease-in-out 0s;
}

.logoContainer.movement {
  transform: translate(-50%, 0);
  transition: ease-in-out 0.5s;
}

.logoDiff {
  position: absolute;
  opacity: 0;
  scale: 0;
  transform-origin: 0% 50%;
  transition: all 0.4s;
  width: 168px;
}

.logoDiff.active {
  position: absolute;
  opacity: 1;
  z-index: 1;
  scale: 1;
}

.logoR.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
  scale: 1;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


@media (min-width: 700px) {
  .sectionLoginChoiceContainerFunc{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    width: 100%;
  }

  .sectionLoginChoiceContainerInfo{
    margin-right: 90px;
    padding-bottom: 90px;
    width: 55%;
  }

  .sectionLoginChoiceContainerButtons{
    margin-left: 80px;
    width: 45%;
  }

  .sectionLoginChoiceContainerDescription {
    margin-top: 30px;
    text-align: start;
    font-weight: 500;
    font-size: 2.7rem;
    line-height: 1.5em;
  }
}

