.section-loginChoice {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

.section-loginChoice__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  flex-direction: column;
}

.section-loginChoice__container-description {
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #262724;
}

.section-loginChoice__container-buttons {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

.section-loginChoice__container-terms {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-loginChoice__container-terms-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #262724;
}

.section-loginChoice__container-terms-text-link {
  color: #5C0000;
}