.themesDataContainer {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.themesDataContainer .filterText {
  flex: 1;
}

.themesDataContainer form {
  margin-bottom: .8rem;
}