.claimContainer {
  width: 100%;
  border: none;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.claimTopInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  gap: 2%;
}

.shareIcon {
  height: 1.3em;
  width: 1.3em;
}

.imgClaimmer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--color-bg-primary);
}

.claimTitleAndSubtitle {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
}

.claimTitle {
  font-size: var(--text-subtitle-primary);
  font-weight: 500;
  font-family: var(--font-secundary);
  margin-bottom: 1%;
  font-size: 1.4rem;
}

.claimSubtitle {
  font-size: var(--text-caption);
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 1.2rem;
}

.claimArrowUp {
  font-size: 4vw;
  margin-left: 5%;
}

.claimPrincipalImg {
  width: 100%;
  aspect-ratio: 1/1;
}

.claimBottomInfo {
  display: flex;
  flex-direction: column;
}

.claimDescription {
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 400;
  font-size: 1.2em;
}

.claimButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.5%;
}

.seeProgressLink {
  width: 42%;
  margin-left: 3%;
  margin-bottom: 2%;
}

.seeProgressButton {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 3vw;
  font-weight: 500;
  color: var(--color-secondary);
  background-color: var(--color-bg-secondary);
  font-family: var(--font-secundary);
  font-size: var(--text-caption);
  word-break: none;
}

.claimIconsBottom {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
  margin: 5% 5% 5% 0;
}

.vote {
  font-weight: 500;
}

.heartIcon {
  height: 1.4em;
  width: 1.4em;
  margin-left: 2.5%;
}